@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body{ margin: 0;     display: flex;
    justify-content: center;
    font-family: 'Noto Sans Display', sans-serif;
    background: black;
}

.hide {
	display: none;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.choice {
    border: 3px solid #c7c7c7;
    padding: 2%;
    border-radius: 1em;
    background: #fdfdfd;
    width: 50%;
    text-align: center;
    opacity: 75%;
    cursor: pointer;
}
.choice:hover {
	opacity: 85%;
}
.enter {
	bottom: 15%;
    right: 19%;
}

#page {
	background: url(./images/a.jpg);
	background-size: cover;
	height: 100vh;
	width:100%;
}


.dial {
    width: 92%;
    height: 18%;
    background: #ffffffc7;
    border-radius: 40px;
    margin: 2%;
    font-size: 1.75em;
    padding: 2%;
    color: black;
}

.speaker {
	filter: drop-shadow(0 0 0.75rem black);
	bottom: 0;
    left: 35%;
    width: 35%;
}

.continue {
	bottom: 10px;
    width: 11em;
    right: 1em;
}

.with-choice {
    left: 55%;
}

.choices-list {
	    top: 20em;
    left: 20%;
}

.choice-option {
	margin-bottom: 1em;
    background: white;
    padding: 2%;
    font-size: 1.5em;
    border-radius: 12px;
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem black);
    max-width: 25em;
    min-width: 13em;
}

.choice-option:hover {
	opacity: .8;
}


.polly {
	    width: 26%;
}